h1{
    font-size: 50px;
    color: #FC5404;
    
}
body{
    
    background-color: seashell;
    
}


img {
    width: 300px;
}
.img {
 display: flex;
 justify-content: center;
 margin-right: 60px;
}
.title {
    display: flex;
    justify-content: center;
   }
h2 {
    display: flex;
    justify-content: center;
}
.head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}