h1{
    font-size: 50px;
    color: #FC5404;
    
}
body{
    
    background-color: seashell;
    
}


img {
    width: 300px;
}
.img1 {
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

.c {
    display: flex;
    justify-content: center;
   }
h2 {
    display: flex;
    justify-content: center;
}
.head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 200px;
}
p {
    display: flex;
    justify-content: center;
}
span {
    color: #FC5404;   
}
.yajirusi {
    width: 70px;
    height: 60px;
}
li {
   display: flex;   
   justify-content: center;
}